<template id="header-template">
    <div class="osahan-page-header mb-auto p-3 bg-light">
      <div class="d-flex align-items-center justify-content-between">
        <a href="add-to-address.html" class="d-flex align-items-center text-decoration-none me-auto gap-1 location-link">
          <i class="mdi mdi-map-marker-circle h2 m-0 text-primary"></i>
          <div class="ms-2 lh-1">
            <h6 class="text-dark mb-0 fw-bold location-title"></h6>
            <small class="Online text-muted opacity-75 mb-0 location-subtitle"></small>
          </div>
        </a>
        <div class="d-flex align-items-center gap-2">
          <a href="profile.html" class="profile-link"><img class="img-fluid avtar-sm rounded-pill bg-white shadow-sm p-1 profile-img" src=""></a>
          <a href="notification.html" class="icon-sm shadow-sm notification-link"><span class="mdi mdi-bell-outline text-primary mdi-18px"></span></a>
          <a href="#" class="toggle d-flex align-items-center justify-content-center bg-white shadow-sm icon-sm fs-5 hc-nav-trigger hc-nav-1 sidebar-toggle" role="button" aria-controls="hc-nav-1"><i class="bi bi-list text-primary mdi-18px"></i></a>
        </div>
      </div>
      <div class="input-group mt-3 bg-white rounded-pill shadow-sm overflow-hidden">
        <span class="input-group-text bg-white border-0 ps-3"><i class="mdi mdi-magnify fs-4"></i></span>
        <input type="text" class="form-control border-0 px-0 py-2 search-input" placeholder="Search">
      </div>
    </div>
  </template>
  